<style>
    .layui-form-label{
        padding: 9px 8px;
        width: inherit;
    }
</style>
<title>团长清单管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>团长清单管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header layui-form layuiadmin-card-header-auto" lay-filter="order-from-search">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">团长</label>
                            <div class="layui-input-inline">
                                <select name="captain" lay-verify="required" lay-filter="aihao" lay-search="" id="captain">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 56px;">打印状态</label>
                            <div class="layui-input-inline">
                                <select name="print_status" lay-filter="aihao" id="print_status_id">
                                    <option value="">全部</option>
                                    <option value="1">已打印</option>
                                    <option value="0">未打印</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">城市</label>
                            <div class="layui-input-inline">
                                <select name="city" lay-verify="required" lay-filter="aihao" lay-search="" id="city">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" >
                            <label class="layui-form-label">活动期数</label>
                            <div class="layui-input-inline" style="width: 150px;">
                                <select name="atv_id" lay-verify="required" lay-filter="aihao" lay-search="" id="atvs">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="layui-inline">-->
                            <!--<label class="layui-form-label">签收时间</label>-->
                            <!--<div class="layui-input-inline">-->
                                <!--<select name="sign_time" lay-verify="required" lay-filter="aihao" lay-search="" id="sign_time">-->
                                    <!--<option value="">全部</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <input type="hidden" id="search" name="search">
                </div>
                <div class="layui-card-body">
                    <div class="demoTable" style="margin-bottom: 10px;">
                        搜索：
                        <div class="layui-inline">
                            <input class="layui-input" name="search" placeholder="搜索货单号" id="demoReload" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                        <button class="layui-btn" data-type="excel_order">
                            导出
                        </button>
                    </div>
                    <table class="layui-hide" id="test-table-autowidth" lay-filter="test-table-autowidth"> </table>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn" lay-event="allprinter" id="printer_orders">
                                <i class="layui-icon">&#xe609;</i>一键全部打印
                            </button>
                        </div>
                    </script>
                    <script type="text/html" id="rights">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" data-printer="1"  lay-event="printer"><i class="layui-icon layui-icon-note"></i>打印</a>

                        <!--<a class="layui-btn layui-btn-primary layui-btn-xs"  lay-event="detail"><i class="layui-icon">&#xe642;</i>查看</a>-->
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    layui.use(['admin', 'table' , 'laydate' , 'util'], function(){
        var table    = layui.table;
        var $        = layui.$
            ,admin   = layui.admin
            ,element = layui.element
            ,layer   = layui.layer
            ,laydate = layui.laydate
            ,form    = layui.form
            ,util    = layui.util;

        var tableIns = table.render({
            elem: '#test-table-autowidth'
            ,url: config.url+'order/clearList'//数据接口
            ,toolbar: '#toolbar'
            ,defaultToolbar:[]
            ,cellMinWidth: 80
            ,page:true
            ,cols: [[
                {field:'id', title: 'ID',width:100},
                {field:'cargos_code', title: '货单号' , width:220},
                {field:'active_id', title: '活动期数' , width:150,templet: function(d){
                        return '第'+d.active_id+'期';
                    }
                },
                {field:'print_status', title: '打印状态'  , width:110,templet: function(d){
                        if(d.print_status==0){
                            return '<a class="layui-btn  layui-btn-danger layui-btn-xs">未打印</a>';
                        }
                        else if(d.print_status==1){
                            return '<a class="layui-btn layui-btn layui-btn-normal layui-btn-xs">已打印</a>';
                        }
                    }
                },
                {field:'cap_id', title: '团长' , width:150,templet: function (d) {
                    if(d.cap_id){
                        return d.cap_id.username
                    }else {
                        return '';
                    }
                    }},
                {field:'cityid', title: '城市' , width:150,templet: function (d) {
                        return d.cityid.city
                    }},
                {field:'delivery_time', title: '配送时间', templet:function (d) {
                        return layui.laytpl.toDateString(d.delivery_time *1000)
                    }},
                {field:'sign_time', title: '签收时间', templet:function (d) {
                        return layui.laytpl.toDateString(d.sign_time *1000)
                    }},
                {field:'sign_status', title: '签收状态'  , width:110,templet: function(d){
                        if(d.sign_status==0){
                            return '<a class="layui-btn  layui-btn-danger layui-btn-xs">未签收</a>';
                        }
                        else if(d.sign_status==1){
                            return '<a class="layui-btn layui-btn layui-btn-normal layui-btn-xs">已签收</a>';
                        }
                    }
                },
                {fixed: 'right', title:'操作', toolbar: '#rights', width:90}
            ]]
            ,done:function(res){
                //添加发货节点ID
                $('#printer_orders').attr('data-count' , res.count);
                //  若未配置云打印则无法让用户打印
                if(res.msg == ''){
                    $('#noticso').remove();
                    $('#test-table-autowidth').before('<blockquote class="layui-elem-quote" id="noticso" style="color: red">您还未配置打印,将无法打印订单信息喔 ≥...≤!~ </blockquote>');
                    var pris = $('a[data-printer="1"]');
                    pris.removeClass('layui-btn-primary');
                    pris.addClass('layui-btn-disabled');
                    pris.attr('lay-event','');
                    $('#printer_orders').remove();
                }
            }
        });

        form.render();
        admin.req({
            type:'POST',
            url: config.url+'order/searchInit',//数据接口
            done:function(res){
                if(res.data){
                    //团长
                    var capselect = document.getElementById("captain");
                    var captain = res.data.captain;

                    jsonInit(captain,capselect);
                    // 城市
                    var citselect = document.getElementById("city");
                    var city = res.data.city;
                    jsonInit(city,citselect);

                    // 配送时间
                    var atvslect = document.getElementById("atvs");
                    var atvs = res.data.atvs;
                    $.each(atvs,function(idx,obj){
                        obobj = new Option('第'+ obj + '期' , obj);
                        atvslect.options.add(obobj);

                    });
                    form.render();
                }
            }
        });
        // 动态载入下拉选择
        function jsonInit(objsons , object) {
            $.each(objsons,function(idx,obj){
                object.options.add(new Option(obj,idx));

            });
        }
        //初始化json
        var json = {};
        form.on('select(aihao)', function(data){
            var name = data.elem.name;
            json.se = 1;
            switch (name) {
                case ("print_status"):
                    json.print_status = data.value;
                    break;
                case ("captain"):
                    json.cap_id = data.value;
                    break;
                case ("city"):
                    json.cityid = data.value;
                    break;
                case ("atv_id"):
                    json.atv_id = data.value;
                    break;
            }
            JSON.stringify(json);
            //执行重载
            tableIns.reload( {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    json
                }
            });
        });
        // 配送时间搜索
        /*laydate.render({
            elem: '#delivery_time'
            ,value : util.toDateString(new Date(), 'yyyy-MM-dd')
            ,done: function(value, date){
                json.se = 1;
                json.delivery_time = value;
                JSON.stringify(json);
                //执行重载
                tableIns.reload({
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        json
                    }
                });
            }
        });*/

        active  = {
            reload: function(){
                var demoReload = $('#demoReload').val();
                json.cargos_code = demoReload;
                JSON.stringify(json);
                //执行重载
                tableIns.reload( {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        json
                    }
                });
            },
            excel_order:function () {
                var data = [];
                data.captain         = $('#captain').val();
                data.city            = $('#city').val();
                data.atvs            = $('#atvs').val();
                data.print_status_id = $('#print_status_id').val();
                data.demoReload      = $('#demoReload').val();
                var url = config.url+'Excel/capOrderExcel?a=1&captain='+data.captain +'&city='+data.city+'&atvid='+data.atvs+'&print_status_id='+data.print_status_id+'&demoReload='+data.demoReload;
                window.location=url;
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        console.log(config.url + 'order/printer');

        //监听工具条
        table.on('toolbar(test-table-autowidth)', function(obj) {
            var count = $('#printer_orders').data('count');
            // var checkStatus = table.checkStatus(obj.config.id);
                if(count == 0) {
                    layer.msg('未选择任何货单!', {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                    });
                    return false;
                }
                if (obj.event == 'allprinter') {
                layer.confirm('一共'+count+'条数据 ,您确定要打印所查的全部货单吗??', function(index){
                    //掉删除接口
                    admin.req({
                        type: 'POST',
                        url: config.url + 'order/printer'//数据接口
                        , data: {
                            "id": '',
                            "printer": 2,
                        },
                        beforeSend: function () {
                            layer.load(0, {
                                offset: 'auto'
                            });
                            layer.close(index);
                        },
                        done: function (res) {
                            if(res.data.code != true){
                                var msg = '';
                                switch(res.data.msg){
                                    case -1:
                                        msg = '打印配置有误:接口名称错误';
                                        break;
                                    case -2:
                                        msg = '打印配置有误:该帐号未注册';
                                        break;
                                    case -3:
                                        msg = '打印配置有误:签名错误';
                                        break;
                                    case 1001:
                                        msg = '打印配置有误:打印机编号不合法';
                                        break;
                                }
                                layer.msg(msg, {
                                    offset: '15px'
                                    , icon: 2
                                    , time: 2000
                                    ,end:function () {
                                        admin.events.refresh()
                                    }
                                });
                            }else{
                                layer.msg('打印成功! ≥ ▽ ≤', {
                                    offset: '15px'
                                    , icon: 1
                                    , time: 2000
                                    ,end:function () {
                                        admin.events.refresh()
                                    }
                                });
                            }

                        }
                    });
                });
            }
        });
        table.on('tool(test-table-autowidth)', function(obj){
            var data = obj.data;
            if(obj.event === 'printer'){
                layer.open({
                    type: 2
                    ,title: '查看' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '700px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_printer' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.html_url + 'order/captainOrderDetail/id=' + data.id
                });
            }/*else if(obj.event === 'detail') {
                layer.open({
                    type: 2
                    ,title: '查看' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '700px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.html_url + 'order/captainOrderDetail/id=' + data.id
                });
            }*/
        });
        //监听工具条
        /*table.on('toolbar(test-table-autowidth)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            if(obj.event == 'checkok'){
                var obtype = $(this).data('type');
                var data = checkStatus.data;
                if(data == ''){
                    layer.msg('未选择任何订单呢!', {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                    });
                    return false;
                }
                layer.confirm('您确定要删除选择的商品吗?', function(index){
                    //掉删除接口
                    admin.req({
                        type: 'POST',
                        url: config.url + 'order/del'//数据接口
                        , data: {
                            "id": data,
                            "type": obtype,
                        },
                        done: function (res) {
                            layer.msg('操作成功!', {
                                offset: '15px'
                                , icon: 1
                                , time: 2000
                            });
                            location.reload();
                        }
                    });
                });
            }else if(obj.event == 'addcheckok'){
                layer.open({
                    type: 2
                    ,title: '添加' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '700px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.url+'goods/add'
                });
            }
        });*/

    });
</script>