
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>团长等级分销</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">团长等级分销</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="userwall-table-autowidth" lay-filter="captain-table-autowidth"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    layui.use(['admin', 'table'], function(){
        var table    = layui.table;
        var $        = layui.$
            ,admin   = layui.admin
            ,element = layui.element
            ,layer   = layui.layer
            ,form    = layui.form;
        var router = layui.router();
        var id = router.search.id;
        if(typeof(id)=='undefined'){
            id=0;//默认新增
        }
        var tableIns = table.render({
            elem: '#userwall-table-autowidth'
            ,url: config.url+'order/detailFx&id='+id//数据接口
            ,toolbar: '#toolbar'
            ,defaultToolbar:[]
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,page:true
            ,cols: [[
                {field:'order_code', title: '订单号'},
                {field:'cap_name', title: '团长'},
                {field:'cash', title: '佣金',templet:function (d) {
                        return '<b style="color: red">¥'+d.cash+'</b>';
                    }},
                {field:'level', title: '分销比列'}

            ]]
        });

    });
</script>