<style>
  .goods_imgsd{
    display: flex;
  }
  .goods_imgsd dd {
    margin-left: 3px;
  }
</style>

<div class="layui-fluid">
  <!--<div class="layui-card">-->
    <div class="layui-card-header">订单信息</div>
    <div class="layui-card-body" style="padding: 15px;">
      <blockquote style="margin-top: 2px; color: red;" class="layui-elem-quote">*　必须得小程序发布且通过审核了才能正常发货！！！！*</blockquote>
      <form class="layui-form layui-form-pane" action="" onsubmit=" return  false" lay-filter="component-form-group-xcx">
        <div class="layui-form-item" pane>
          <label class="layui-form-label">订单号</label>
          <div class="layui-input-block">
            <input type="text" name="order_code" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane>
          <label class="layui-form-label">支付金额</label>
          <div class="layui-input-block">
            <input type="text" name="pay_price" disabled placeholder="￥" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane>
          <label class="layui-form-label">余额支付</label>
          <div class="layui-input-block">
            <input type="text" name="balance" disabled placeholder="￥" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane >
          <label class="layui-form-label">优惠券信息</label>
          <div class="layui-input-block">
            <input type="text" name="coupon" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane >
          <label class="layui-form-label">秒杀订单</label>
          <div class="layui-input-block">
            <input type="text" name="is_spike" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane >
          <label class="layui-form-label">商品类型</label>
          <div class="layui-input-block">
            <input type="text" name="is_virtual" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane >
          <label class="layui-form-label">使用积分</label>
          <div class="layui-input-block">
            <input type="text" name="use_integral" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane >
          <label class="layui-form-label">赠送积分</label>
          <div class="layui-input-block">
            <input type="text" name="send_integral" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane>
          <label class="layui-form-label">派送方式</label>
          <div class="layui-input-block">
            <input type="text" name="lift" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane id="freights">
          <label class="layui-form-label">配送费</label>
          <div class="layui-input-block">
            <input type="text" name="freight" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane id="storey">
          <label class="layui-form-label">楼层信息</label>
          <div class="layui-input-block">
            <input type="text" name="storey" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane id="delivery_datas">
          <label class="layui-form-label">配送时间段</label>
          <div class="layui-input-block">
            <input type="text" name="delivery_data" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane>
          <label class="layui-form-label">用户名</label>
          <div class="layui-input-block">
            <input type="text" name="nickname" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane>
          <label class="layui-form-label">联系电话</label>
          <div class="layui-input-block">
            <input type="text" name="user_mobile" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item" pane >
          <label class="layui-form-label">留言信息</label>
          <div class="layui-input-block">
            <input type="text" name="order_text" disabled autocomplete="off" class="layui-input">
          </div>
        </div>
        <table class="layui-hide" id="demo"></table>

        <!--<script id="tag_text" type="text/html">
          <div>
            {{# layui.each(d.tag_text, function(index, item){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs"  lay-event="tag">{{ (item.type == 0) ? '限购' : '满减'  }}</a>
            {{# }); }}
          </div>
        </script>-->
        <div class="layui-form-item" pane>
          <ul class="layui-timeline"  id="each-list">

          </ul>
        </div>
        <div class="layui-form-item" id="order-buttons">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="order-form-submit">立即发货</button>
          </div>
        </div>
      </form>
    </div>
  <!--</div>-->
</div>
<script>
    layui.use(['admin','layer','table','upload', 'form' , 'layedit'], function() {
        var $ = layui.$
            ,admin = layui.admin
            , upload = layui.upload
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,form = layui.form;

        var table = layui.table;
        var router = layui.router();
        var id = router.search.id;
        if(typeof(id)=='undefined'){
            id=0;//默认新增
        }
        table.render({
            elem: '#demo'
            ,url: config.url+'order/readGoods'//数据接口
          ,where:{
            'id':id
          }
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'goods_name', title: '商品名称', width: 200}
                ,{field:'goods_headimage', title: '封面图' , width: 100  ,templet:'<div><img width="50px" src="{{ d.goods_headimage }}"></div>'}
                ,{field:'cost_price', title: '成本价', width: 150}
                ,{field:'price', title: '活动价', width: 150}
                ,{field:'goods_num', title: '购买数量', width: 150}
                ,{field:'norms', title: '规格'}
                // ,{field:'tag', title: '标签' , width:100,templet:'#tag_text'}
            ]]
        });
        admin.req({
            type:'POST',
            url: config.url+'order/detail'//数据接口
            ,data:{"id":id},
            done:function(res){
                if(res.data){
                  console.log(res.data)
                  if(res.data.lift==0){
                    $('#freights').hide();
                    $('#storey').hide();
                    $('#delivery_datas').hide();
                  }

                    //预设元素
                    form.val("component-form-group-xcx", {
                        "order_code" : res.data.order_code,
                        "pay_price"  : res.data.pay_price.toFixed(2),
                        "nickname"   : res.data.address_data.nickname,
                        "user_mobile": res.data.address_data.mobile,
                        "lift"       : res.data.lift_text,
                        "delivery_data": res.data.delivery_data_time?res.data.delivery_data_time:'',
                        "freight"    : res.data.freight,
                        "storey"     : res.data.address_data.storey,
                        "order_text" : res.data.order_text,
                        "is_spike"   : res.data.is_spike==1?'是':'否',
                        "is_virtual" : res.data.is_virtual==1?'虚拟商品':'普通商品',
                        "use_integral" : res.data.use_integral,
                        "send_integral" : res.data.send_integral,
                        "balance" : res.data.balance.toFixed(2),
                        "coupon"     : res.data.coupon?res.data.coupon.coupon_name+res.data.coupon.discount:'未使用优惠券',
                    });
                    if(res.data.pay_type != 1 || res.data.pay_type == '-1')
                        $('#order-buttons').remove();

                    var list = '';
                    layui.each(res.data.obrder_path, function(index, item){
                        list += '<li class="layui-timeline-item"><i class="layui-icon layui-timeline-axis">&#xe63f;</i><div class="layui-timeline-content layui-text"><h3 class="layui-timeline-title">'+item[1]+item[0]+'</h3><p></p>';
                        if(index == 0){
                            list += '</p><p>收货信息：'+res.data.address_data.captain_text.address+'<br>小区名称：'+res.data.address_data.captain_text.homename+'<br>团长姓名：'+res.data.address_data.captain_text.username+'<br>团长电话：'+res.data.address_data.captain_text.mobile+'</p>';
                        }
                        list += '</div></li>';
                    });
                    $('#each-list').html(list);

                }
            }
        });
        layui.use('form', function() {
            form.render();
        });

        /* 监听提交 */
        form.on('submit(order-form-submit)', function(data){
            data.field.id = id;
            $.post(config.url+'order/edit',
                data.field,
                function(res){
                    if(res.data.code != true){
                        var msg = '';
                        switch(res.data.msg){
                            case -5000:
                                msg = '活动未结束,已经停止发货';
                                break;
                            case -5051:
                                msg = '有订单状态有误,您已发货或用户未付款,已经停止发货';
                                break;
                            case -5052:
                                msg = '有订单未找到,为了保证您的账户安全,已经停止发货';
                                break;
                            case -5053:
                                msg = '有订单没有找到团长用户信息呢,已经停止发货!';
                                break;
                            case -5054:
                                msg = '核销码生成失败了呢,已停止发货!';
                                break;
                            case -5055:
                                msg = '订单状态修改失败了呢!';
                                break;
                            case -5056:
                                msg = '团长未清理订单,已停止发货!!';
                                break;
                        }
                        layer.msg(msg, {
                            offset: '15px'
                            , icon: 2
                            , time: 2000
                        });
                    }else{
                        layer.alert('发货成功! ≥ ▽ ≤', function(index){
                            window.parent.layer.closeAll();
                            window.parent.location.reload()
                        });
                    }
                });
            return false;
        });

    });
</script>

