
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">分类设置</div>
        <div class="layui-card-body" style="padding: 15px;">

            <form class="layui-form" action="" lay-filter="wechatconfig-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">全部商品</label>
                    <div  class="layui-input-block">
                        <input class="hid" lay-filter="hope" type="radio"  name="wechat_config[hope]" value="0" title="隐藏">
                        <input class="top" lay-filter="hope" type="radio"  name="wechat_config[hope]" value="1" title="头显示">
                        <input class="hod" lay-filter="hope" type="radio"  name="wechat_config[hope]" value="2" title="尾显示">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">次日达图标</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test-upload-normals">上传图片</button>
                        <div class="layui-upload-list del-image"  id="test-upload-normal-imgs"><ul></ul></div>
                        <blockquote style="margin-left: 110px" class="layui-elem-quote">商品封面图尺寸200*200px 最多只能上传1.2M之内的图片</blockquote>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">秒杀图标</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test-upload-normal">上传图片</button>
                        <div class="layui-upload-list del-image"  id="test-upload-normal-img"><ul></ul></div>
                        <blockquote style="margin-left: 110px" class="layui-elem-quote">商品封面图尺寸200*200px 最多只能上传1.2M之内的图片</blockquote>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="captain-from-edit-submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    layui.use(['admin','layer','form','upload' , 'layedit' , 'formSelects'], function() {
        var $ = layui.$
            ,admin = layui.admin
            ,layer = layui.layer
            ,formSelects = layui.formSelects
            ,upload = layui.upload
            ,form = layui.form;
        layui.use('form', function() {
            form.render();
        });
        formSelects.data('cityid', 'server', {
            url: config.url+'cities/selectlistAll',
            keyword: '',
        });

        //查询配置
        admin.req({
            type:'POST',
            url: config.url+'Userwallet/getSite',//数据接口
            done:function(res) {
                if (res.data) {
                    console.log(res.data)
                    if(res.data.wechat_config.hope==0||res.data.wechat_config.hope==null){
                        $('.hid').attr('checked','checked');
                    }else if(res.data.wechat_config.hope==1){
                        $('.top').attr('checked','checked');
                    }else if(res.data.wechat_config.hope==2){
                        $('.hod').attr('checked','checked');
                    }

                    if(res.data.wechat_config.balance_status==0||res.data.wechat_config.hope==null){
                        $('.open_balance').attr('checked','checked');
                    }else if(res.data.wechat_config.balance_status==1){
                        $('.close_balance').attr('checked','checked');
                    }
                    var acr = String(res.data.wechat_config.cright);
                    //预设元素
                    form.val("wechatconfig-form", {
                        "id": res.data.id,// "name": "value"
                        "wechat_config[balance]"  : res.data.wechat_config.balance,// "name": "value"
                        "wechat_config[reflect][3]": res.data.wechat_config.reflect[3]==3?1:0,// "name": "value"
                        "wechat_config[reflect][1]": res.data.wechat_config.reflect[1]==1?1:0,// "name": "value"
                        "wechat_config[reflect][2]": res.data.wechat_config.reflect[2]==2?1:0,// "name": "value"

                    });
                    console.log(res.data.wechat_config.img_icon.crd)

                    if(res.data.wechat_config.img_icon.crd != ''&&res.data.wechat_config.img_icon.crd != undefined){
                        var str = '<dd><i class="layui-icon" >&#x1007;</i> <img  width="100px" src="'+res.data.wechat_config.img_icon.crd+'"> <p id="test-upload-demoText"></p><input type="hidden" name="icon[crd]" value="'+res.data.wechat_config.img_icon.crd+'"></dd>';
                        $('#test-upload-normal-img ul').append(str);
                    }

                    if(res.data.wechat_config.img_icon.ms != ''&&res.data.wechat_config.img_icon.ms != undefined){
                        var str = '<dd><i class="layui-icon" >&#x1007;</i> <img  width="100px" src="'+res.data.wechat_config.img_icon.ms+'"> <p id="test-upload-demoText"></p><input type="hidden" name="icon[ms]" value="'+res.data.wechat_config.img_icon.ms+'"></dd>';
                        $('#test-upload-normal-imgs ul').append(str);
                    }


                }
            }
        });

        form.on('submit(captain-from-edit-submit)', function(data){

            $.post(config.url+'User/showSite',
                data.field,
                function(res){
                    if(res.code == 0){
                        layer.msg('添加成功! ≥ ▽ ≤', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        });
                    }else{
                        layer.msg(res.data, {
                            offset: '15px'
                            , icon: 2
                            , time: 2000
                        });
                    }
                });
            return false;
        });
        var uploadInst = upload.render({
            elem: '#test-upload-normal'
            ,url: config.url+'base_admin/upload'
            ,data:{"type":"picture"}
            ,multiple: true
            ,size: 1700 //限制文件大小，单位 KB
            ,before: function(obj){
                layer.load(0, {
                    offset: 'auto'
                });
            }
            ,done: function(res){
                //上传完毕
                // console.log(res)

                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                $('#test-upload-normal-img ul').empty();
                var str = '<dd><i class="layui-icon">&#x1007;</i> <img  width="100px" src="'+res.data.src+'"> <p id="test-upload-demoText1"></p><input type="hidden" name="icon[crd]" value="'+res.data.src+'" id="cover_value"></dd>';
                $('#test-upload-normal-img ul').append(str)
                layer.closeAll();
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#test-upload-demoText1');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        var uploadInst = upload.render({
            elem: '#test-upload-normals'
            ,url: config.url+'base_admin/upload'
            ,data:{"type":"picture"}
            ,multiple: true
            ,size: 1700 //限制文件大小，单位 KB
            ,before: function(obj){
                layer.load(0, {
                    offset: 'auto'
                });
            }
            ,done: function(res){
                //上传完毕
                // console.log(res)

                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                $('#test-upload-normal-imgs ul').empty();
                var str = '<dd><i class="layui-icon">&#x1007;</i> <img  width="100px" src="'+res.data.src+'"> <p id="test-upload-demoText3"></p><input type="hidden" name="icon[ms]" value="'+res.data.src+'" id="cover_value"></dd>';
                $('#test-upload-normal-imgs ul').append(str)
                layer.closeAll();
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#test-upload-demoText1');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });


    });
</script>