
<title>分销管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>分销管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">分销管理</div>
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief">

                    <ul class="layui-tab-title">
                        <li class="layui-this">分销管理</li>
                        <li>分销记录</li>
                    </ul>

                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <table class="layui-hide" id="test-table-autowidth-cat" lay-filter="test-table-autowidth-cat"></table>

                            <script type="text/html" id="toolbar">
                                <div class="layui-btn-container">
                                    <button class="layui-btn" data-type="1"  lay-event="addcheckok">
                                        <i class="layui-icon">&#xe654;</i>添加
                                    </button>
                                    <button class="layui-btn" data-type="1"  lay-event="addcheckokc">
                                        <i class="layui-icon">&#xe654;</i>分销设置
                                    </button>

                                </div>
                            </script>
                            <!--图片-->

                            <script type="text/html" id="rights">
                                <a class="layui-btn layui-bg-cyan layui-btn-xs " lay-event="edit">
                                    <i class="layui-icon layui-icon-edit"></i>编辑
                                </a>
                                <a class="layui-btn layui-bg-cyan layui-btn-xs " lay-event="delete">
                                    <i class="layui-icon layui-icon-edit"></i>删除
                                </a>
                            </script>
                        </div>

                        <div class="layui-tab-item">
                            <div class="layui-card-body">
                                <div class="demoTable" style="margin-bottom: 10px;">
                                    搜索：
                                    <div class="layui-inline">
                                        <input class="layui-input" name="search" placeholder="搜索订单号" id="demoReload" autocomplete="off">
                                    </div>
                                    <button class="layui-btn" data-type="reload">搜索</button>
                                </div>

                                <table class="layui-hide" id="test-table-autowidth-cats" lay-filter="test-table-autowidth-cat"></table>



                                <script type="text/html" id="switchTpl">
                                    <input style="width: 200px" type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'table'], function(){
        var table    = layui.table;
        var $        = layui.$
            ,admin   = layui.admin
            ,element = layui.element
            ,layer   = layui.layer
            ,form    = layui.form;
        var tableIns = table.render({
            elem: '#test-table-autowidth-cat'
            ,url: config.url+'minus/fxIist'//数据接口
            ,toolbar: '#toolbar'
            ,defaultToolbar:[]
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,page:true
            ,cols: [[
                {field:'balance', title: '分销比例(%)'},
                {field:'level', title: '分销等级'},
                {field:'create_time', title: '创建时间',  templet:function (d) {
                        return layui.laytpl.toDateString(d.create_time *1000)
                    }},
                {fixed: 'right', title:'操作', align: 'center', toolbar: '#rights'}
            ]]
        });

        active  = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                tableIns.reload( {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        search: demoReload.val()
                    }
                });
            }
        };



        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('tool(test-table-autowidth-cat)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                layer.open({
                    type: 2
                    ,title: '添加' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '600px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.html_url+'minus/fx_edit/id='+data.id
                });
            }else if(obj.event === 'delete'){
                layer.confirm('您确定要删除选择的分销吗?', function(index){
                    admin.req({
                        type: 'POST',
                        url: config.url + 'minus/fxDelete'//数据接口
                        , data: {
                            "id": data.id,
                        },
                        done: function (res) {
                            layer.msg('操作成功!', {
                                offset: '15px'
                                , icon: 1
                                , time: 2000
                            });
                            location.reload();
                        }
                    });
                });
            }
        });

        //监听工具条
        table.on('toolbar(test-table-autowidth-cat)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            if(obj.event == 'addcheckok'){
                layer.open({
                    type: 2
                    ,title: '添加' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '600px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.html_url+'minus/fx_add'
                });
            }else if(obj.event == 'addcheckokc'){
                layer.open({
                    type: 2
                    ,title: '添加' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '600px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.html_url+'minus/fx_content'
                });
            }
        });


        var tableIns = table.render({
            elem: '#test-table-autowidth-cats'
            ,url: config.url+'minus/fxRecord'//数据接口
            ,toolbar: '#toolbars'
            ,defaultToolbar:[]
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,page:true
            ,cols: [[
                // {checkbox: true},
                // {field:'id', title: 'ID', width: 50},
                {field:'order_code', title: '订单号', width: 250},
                {field:'status', title: '到账状态'  , width:110,templet: function(d){
                        if(d.status==0){
                            return '<a class="layui-btn  layui-btn-danger layui-btn-xs">未到账</a>';
                        } else if(d.status==1){
                            return '<a class="layui-btn layui-btn layui-btn-normal layui-btn-xs">已到账</a>';
                        }
                    }
                },
                {field:'u_name', title: '获取佣金用户',width: 200},
                {field:'c_name', title: '购买用户',width: 200},
                {field:'cash', title: '分销金额',width: 200},
                {field:'level', title: '分销等级',width: 200},
                {field:'time', title: '分销时间', width:400, templet:function (d) {
                        return layui.laytpl.toDateString(d.time *1000)
                    }},
            ]]
        });
        active  = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                tableIns.reload( {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        search: demoReload.val()
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>