
<title>商品规格</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>商品规格</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">商品规格</div>
                <!--<blockquote style="color: red" class="layui-elem-quote">点击上(下)架即可更改状态哟 ~ O(∩_∩)O~</blockquote>-->
                <div class="layui-card-body">
                    <div class="demoTable" style="margin-bottom: 10px;">
                        搜索：
                        <div class="layui-inline">
                            <input class="layui-input" name="search" placeholder="搜索规格名称" id="demoReload" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                    </div>

                    <table class="layui-hide" id="test-table-autowidth-cat" lay-filter="test-table-autowidth-cat"></table>

                    <script type="text/html" id="toolbar">
<!--                        <div class="layui-btn-container">-->
<!--                            <button class="layui-btn" data-type="1"  lay-event="addcheckok">-->
<!--                                <i class="layui-icon">&#xe654;</i>添加-->
<!--                            </button>-->
<!--                        </div>-->
                    </script>

                    <script type="text/html" id="switchTpl">
                        <input style="width: 200px" type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
                    </script>
                    <!--图片-->

                    <script type="text/html" id="rights">

                        <a class="layui-btn layui-bg-cyan layui-btn-xs " lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                        <a class="layui-btn layui-bg-cyan layui-btn-xs " lay-event="del"><i class="layui-icon layui-icon-edit"></i>删除</a>

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    layui.use(['admin', 'table'], function(){
        var table = layui.table;
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,layer = layui.layer
            ,form = layui.form;
        var tableIns = table.render({
            elem: '#test-table-autowidth-cat'
            ,url: config.url+'goods/goodsNorms'//数据接口
            ,toolbar: '#toolbar'
            ,defaultToolbar:[]
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,page:true
            ,cols: [[
                {field:'name', title: '名称'},
                {field:'norms', title: '规格'},
                {field:'price', title: '商品价格'},
                {field:'stock', title: '商品库存'},
                {field:'status', title: '规格状态'
                    ,templet:  '#switchTpl', unresize: true
                },
                {fixed: 'right', title:'操作', align: 'center', toolbar: '#rights'}
            ]]
        });
        active  = {
            reload: function(){
                var demoReload = $('#demoReload');
                //执行重载
                tableIns.reload( {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        search: demoReload.val()
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('switch(status)', function(obj){
            admin.req({
                type: 'POST',
                url: config.url + 'goods/closeNorms'//数据接口
                , data: {
                    "id": obj.value,
                },
                done: function (res) {

                    layer.msg('操作成功!', {
                        offset: '15px'
                        , icon: 1
                        , time: 1000
                    });

                }
            });
        });

        table.on('tool(test-table-autowidth-cat)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                layer.open({
                    type: 2
                    ,title: '添加' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '600px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.html_url+'goods/edit_norms/id='+data.id
                });
            }else if(obj.event === 'del') {
                layer.confirm('删除该多规格，将同商品里面相对应的多规格一同删除', function (index) {
                    admin.req({
                        type: 'POST',
                        url: config.url + 'goods/normsDel'//数据接口
                        , data: {
                            "id": data.id,
                        },
                        done: function (res) {
                            layer.msg('操作成功!', {
                                offset: '15px'
                                , icon: 1
                                , time: 2000
                            });
                            location.reload();
                        }
                    })

                });
            }
        });
        //监听工具条
        table.on('toolbar(test-table-autowidth-cat)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            if(obj.event == 'checkok'){
                var obtype = $(this).data('type');
                var data = checkStatus.data;
                if(data == ''){
                    layer.msg('未选择任何供商品!', {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                    });
                    return false;
                }
                layer.confirm('您确定要删除选择的商品吗?', function(index){
                    //掉删除接口
                    admin.req({
                        type: 'POST',
                        url: config.url + 'goods/del'//数据接口
                        , data: {
                            "id": data,
                            "type": obtype,
                        },
                        done: function (res) {
                            layer.msg('操作成功!', {
                                offset: '15px'
                                , icon: 1
                                , time: 2000
                            });
                            location.reload();
                        }
                    });
                });
            }else if(obj.event == 'addcheckok'){
                layer.open({
                    type: 2
                    ,title: '添加' //不显示标题栏
                    ,closeBtn: false
                    ,area:  ['700px', '600px']
                    ,shade: 0.8
                    ,shadeClose : true
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: config.html_url+'goods/add_norms'
                });
            }
        });

    });
</script>