<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief" lay-filter="activity-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">已绑定的团长</li>
                            <li  id="notready">未绑定的团长</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <table class="layui-hide" id="avtivty-table" lay-filter="avtivty-table"></table>
                            </div>
                            <div class="layui-tab-item">
                                <table class="layui-hide" id="avtivty-add-table" lay-filter="avtivty-add-table"></table>
                            </div>
                        </div>
                    </div>

                    <!-- 已选择的商品 -->
                    <!--<script type="text/html" id="rights">
                        <a class="layui-btn layui-btn-primary layui-btn-xs"   lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
                    </script>-->
                    <script id="city_text" type="text/html">
                        <div>
                            {{# layui.each(d.city_text, function(index, item){ }}
                            <a class="layui-btn layui-btn-normal layui-btn-xs" >{{ item }}</a>
                            {{# }); }}
                        </div>
                    </script>
                    <!--over-->

                    <!-- 未选择的商品 -->
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container" >
                            <button class="layui-btn layui-btn-primary layui-btn-sm" id="chetoolbar1" data-type="1"  lay-event="addcheckok">
                                <i class="layui-icon">&#xe654;</i>添加所选
                            </button>
                        </div>
                    </script>
                    <!-- over -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'table'], function(){
        var table    = layui.table;
        var $        = layui.$
            ,admin   = layui.admin
            ,element = layui.element
            ,layer   = layui.layer
            ,form    = layui.form;
        var router = layui.router();
        var id = router.search.id;
        var end_time = router.search.end_time;
        var dis = 0;
        if(end_time < new Date().getTime()/1000){
            $('#notready').empty();
            dis = 1;
        }
        //  --------------------------------------------------------------------
        // 已选择的活动商品
        var tableIns = table.render({
            elem: '#avtivty-table'
            ,url: config.url+'captain/index'//数据接口
            ,where:{
                'cap_id':id,
                'type':7
            }
            ,defaultToolbar:[]
            ,cellMinWidth: 80
            ,page:true
            ,cols: [[
                {checkbox:true},
                {field:'username', title: '团长名字' , width:130},
                {field:'level_content', title: '团长等级', width:120},
                {field:'city', title: '城市',width:120},
                {field:'homename', title: '小区',width:120},
                {fixed: 'right', title:'删除', templet:function (d) {
                    return '<a class="layui-btn layui-btn-primary layui-btn-xs"   lay-event="del"><i class="layui-icon">&#xe640;</i>解除绑定</a>';
                }}
            ]]
        });

        table.on('tool(avtivty-table)', function(obj){
            var data    = obj.data;
            data.cap_id = id;
            if(obj.event === 'del'){
                layer.confirm('您确定要解除绑定吗?', function(index){
                    layer.close(index);
                    $.post(config.url+'captain/delBindCaptain',
                        data,
                        function(res){
                            layer.msg('解除成功! ≥...≤!!!', {
                                offset: '15px'
                                , icon: 1
                                , time: 2000
                                ,end:function () {
                                    admin.events.refresh()
                                }
                            });
                        });
                });
            }
        });

        table.render({
            elem: '#avtivty-add-table'
            ,where:{
                'cap_id':id,
            }
            ,toolbar: '#toolbar'
            ,url: config.url+'captain/index'//数据接口
            ,defaultToolbar:[]
            ,cellMinWidth: 80
            ,page: true
            ,cols: [[
                {checkbox:true},
                {field:'username', title: '团长名字' , width:150},
                {field:'level_content', title: '团长等级', width:180},
                {field:'city', title: '城市',width:180},
                {field:'homename', title: '小区',width:180}
            ]]
            ,done:function(res){
                // 无数据就不要添加
                if(res.data == ''){
                    $('#chetoolbar1').removeClass('layui-btn-primary');
                    $('#chetoolbar1').addClass('layui-btn-disabled');
                    $('#chetoolbar2').removeClass('layui-bg-blue');
                    $('#chetoolbar2').addClass('layui-btn-disabled');
                    $('#chetoolbar1').removeAttr('lay-event');
                    $('#chetoolbar2').removeAttr('lay-event');
                }

            }
        });
        //监听工具条
        table.on('toolbar(avtivty-add-table)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            if(obj.event == 'addcheckok'){
                var obdata = checkStatus.data;
                if(obdata == ''){
                    layer.msg('未选择任何团长!', {
                        offset: '15px'
                        , icon: 2
                        , time: 1000
                    });
                    return false;
                }

                // return false;
                //掉删除接口
                admin.req({
                    type: 'POST',
                    url: config.url + 'captain/bindCaptain'//数据接口
                    ,
                    data: {
                        'data'   : obdata,
                        'cap_id' : id,
                        'type'   : 1
                    },
                    beforeSend: function () {
                        layer.load(0, {
                            offset: 'auto'
                        });
                    },
                    done: function (res) {
                        if(res.data == 200){
                            layer.msg('操作成功!', {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                                , end:function () {
                                    admin.events.refresh()
                                }
                            })
                        }else{
                            layer.msg(res.data, {
                                offset: '15px'
                                , icon: 2
                                , time: 2000
                                , end:function () {
                                    admin.events.refresh()
                                }
                            });
                        }

                    }
                });
            }else if(obj.event == 'addAll'){
                admin.req({
                    type: 'POST',
                    url: config.url + 'activity/addGoods'//数据接口
                    , data: {
                        'atvid' : id,
                        'type' : 2
                    },
                    beforeSend: function () {
                        layer.load(0, {
                            offset: 'auto'
                        });
                    },
                    done: function (res) {
                        if(res.data == 200){
                            layer.msg('操作成功!', {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                                , end:function () {
                                    admin.events.refresh()
                                }
                            })
                        }else{
                            layer.msg(res.data, {
                                offset: '15px'
                                , icon: 2
                                , time: 2000
                                , end:function () {
                                    admin.events.refresh()
                                }
                            });
                        }

                    }
                });
            }else if(obj.event == 'addGoods'){
                admin.req({
                    type: 'POST',
                    url: config.url + 'activity/tiao'
                    , data: {
                        'atvid' : id,
                    }
                    ,done: function (res) {
                        window.parent.layer.closeAll();
                        window.parent.location.reload();
                    }
                });
            }
            return false;
        });
        //  -------------------------  未选的商品 OVER  -------------------------------------------

    });
</script>